h1{
    text-align: center;
}
body{
    justify-items: center;
}
button{
    background-color: #29a303;
    border-radius: 5px;
    color: white;
}
#TB{
    background-color: #29a303;
    margin-top: 10px;
    width: 100%;
    color: white;
}
#name-ip{
    transition: box-shadow 0.3s ease;}
#name-ip:hover{
    box-shadow: 1px 0px 10px rgb(0, 179, 214);
}
#email-ip{
    transition: box-shadow 0.3s ease;}
#email-ip:hover{
    box-shadow: 1px 0px 10px rgb(0, 179, 214);
}
#tableBody{
    background-color: white;
    color: black;
}
#b1{
    background-color: darkorange;
}
#b2{
    background-color: red;
}